<div>
    <h2><span translate="mycaseApp.contract.detail.title">Contract</span> {{contract.id}}  {{contract.status.name}}</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1">
                    <div ng-switch="contract.status.name == 'CONTRACT_DRAFT'">
                        <div ng-switch-when="true">
                            <button type="submit" ui-sref="contract.edit({id:contract.id})" class="btn btn-info">
                                <span>Edit</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" ui-sref="contract" class="btn btn-info">
                        <span>Assign</span>
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="submit" ui-sref="contract" class="btn btn-info">
                        <span>Comment</span>
                    </button>
                </div>
                <div class="col-md-5">
                    <div ng-switch="contract.status.name == 'CONTRACT_DRAFT'">
                        <div ng-switch-when="true">
                            <button type="submit" ng-click="submitForReview()" class="btn btn-success">
                                <span>Submit for: {{contract.nextProcess.name}}</span>
                            </button>
                        </div>
                        <div ng-switch-when="false">
                            <button type="submit" ng-click="approveContractRequest()" class="btn btn-success">
                                <span>Approve</span>
                            </button>
                            <button type="submit" ng-click="rejectContractRequest()" class="btn btn-danger">
                                <span>Reject</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="submitForReview_Confirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="submitForReviewForm" ng-submit="confirmForReview(contract.nextProcess.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="mycaseApp.contract.submitToNextProcess.title">Submit to next process</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="mycaseApp.contract.submitToNextProcess.question" translate-values="{nextProcess: '{{contract.nextProcess.name}}'}">Are you sure you want to submit to next process?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="submitNextProcessForm.$invalid" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span translate="entity.action.ok">OK</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rejectRequest_Confirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="rejectProcessForm" ng-submit="confirmToReject()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="mycaseApp.contract.rejectProcess.title">Reject the current contract</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="mycaseApp.contract.rejectProcess.question">Are you sure you want to send back to draft?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="rejectProcessForm.$invalid" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span translate="entity.action.ok">OK</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
    <div class="col-md-9">

    <div class="table-responsive">
        <table class="table">
            <tbody style="display:block; overflow: auto;">
                <tr>
                    <td>
                        <span translate="mycaseApp.contract.name">Name</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.name}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="mycaseApp.contract.description">Description</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.description}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="mycaseApp.contract.category">category</span>
                    </td>
                    <td><a ui-sref="category.detail({id:contract.category.id})">
                        <input type="text" class="input-sm form-control" value="{{contract.category.name}}" readonly></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="mycaseApp.contract.contract_party">Contract Party</span>
                    </td>
                    <td><a ui-sref="contract_party.detail({id:contract.contractParty.id})">
                        <input type="text" class="input-sm form-control" value="{{contract.contractParty.name}}" readonly></a>
                    </td>
                    <td>
                        <span translate="mycaseApp.contract.status">Status</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.status.name}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="mycaseApp.contract.amount">Amount</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.amount}}" readonly>
                    </td>
                    <td>
                        <span translate="mycaseApp.contract.currency">Currency</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.currency}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="mycaseApp.contract.amount_written">Amount_written</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.amountWritten}}" readonly>
                    </td>
                    <td>
                        <span translate="mycaseApp.contract.fund_source">fund_source</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{contract.fundSource.name}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div id="content">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-target="#info" data-toggle="tab">Detail Info</a></li>
            <li><a data-target="#project" data-toggle="tab">Project Info</a></li>
            <li><a data-target="#notes" data-toggle="tab">Notes</a></li>
            <li><a data-target="#activities" data-toggle="tab">Activities</a></li>
            <li><a data-target="#attachments" data-toggle="tab">Attachments</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="info"><div ui-view="info"></div></div>
            <div class="tab-pane" id="project"><div ui-view="project"></div></div>
            <div class="tab-pane" id="notes"><div ui-view="notes"></div></div>
            <div class="tab-pane" id="activities"><div ui-view="activities"></div></div>
            <div class="tab-pane" id="attachments"><div ui-view="attachments"></div></div>
        </div>
    </div>
    </div>


    <div class="col-md-3">
        <div style="height:400px; overflow:auto;">
            <table>
                <thead>
                    <tr>
                        <th>People</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><h5>Administrator</h5></td></tr>
                    <tr><td>{{contract.administrator.lastName}} {{contract.administrator.firstName}}</td></tr>
                    <tr><td><h5>Author</h5></td></tr>
                    <tr><td>{{contract.author.lastName}} {{contract.author.firstName}}</td></tr>
                    <tr><td><h5>Assignee</h5></td></tr>
                    <tr><td>{{contract.assignee.lastName}} {{contract.assignee.firstName}}</td></tr>
                    <tr><td><h5>Administrative Department</h5></td></tr>
                    <tr><td>{{contract.administrativeDepartment.name}}</td></tr>
                    <tr><td><h5>Related Department</h5></td></tr>
                    <tr ng-repeat = "dept in contract.relatedDepartments"><td>{{dept.name}}</td></tr>
                </tbody>
            </table>
        </div>
        <div style="height:200px; overflow:auto;">
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td><h5>date created</h5></td></tr>
                    <tr><td>{{contract.submitDate}}</td></tr>
                    <tr><td><h5>last modified</h5></td></tr>
                    <tr><td>{{contract.modifiedDate}}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
