
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAuthorityLabel" translate="mycaseApp.authority.home.createOrEditLabel">Create or edit a Authority</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="mycaseApp.authority.name" for="authority_name">Name</label>
            <input type="text" class="form-control" name="name" id="authority_name"
                    ng-model="authority.name">
            <div ng-show="editForm.name.$invalid">
            </div>
        </div>

        <div class="form-group">
            <label translate="mycaseApp.authority.description" for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description"
                   ng-model="authority.description">
            <div ng-show="editForm.description.$invalid">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
