
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myContractLabel" translate="mycaseApp.contract.home.createOrEditLabel">Create or edit a Contract</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="contract.id" readonly>
        </div>

        <div class="form-group">
            <label translate="mycaseApp.contract.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="contract.name">

            <div ng-show="editForm.name.$invalid">
            </div>
        </div>
        <div class="form-group">
            <label translate="mycaseApp.contract.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="contract.description">

        </div>
        <div class="form-group">
            <label translate="mycaseApp.contract.annual_spend_amount" for="field_annual_spend_amount">Annual_spend_amount</label>
            <input type="number" class="form-control" name="annual_spend_amount" id="field_annual_spend_amount"
                    ng-model="contract.annual_spend_amount">

        </div>
        <div class="form-group">
            <label translate="mycaseApp.contract.owner" for="field_owner">Owner</label>
            <input type="number" class="form-control" name="owner" id="field_owner"
                    ng-model="contract.owner">

            <div ng-show="editForm.owner.$invalid">
                <p class="help-block"
                    ng-show="editForm.owner.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="mycaseApp.contract.supplier" for="field_supplier">Supplier</label>
            <input type="number" class="form-control" name="supplier" id="field_supplier"
                    ng-model="contract.supplier">

            <div ng-show="editForm.supplier.$invalid">
                <p class="help-block"
                    ng-show="editForm.supplier.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="mycaseApp.contract.fk_owner_person" for="field_fk_owner_person">fk_owner_person</label>
            <select class="form-control" id="field_fk_owner_person" name="fk_owner_person" ng-model="contract.fk_owner_person.id" ng-options="person.id as person.id for person in persons">
            </select>
        </div>
        <div class="form-group">
            <label translate="mycaseApp.contract.fk_supplier_person" for="field_fk_supplier_person">fk_supplier_person</label>
            <select class="form-control" id="field_fk_supplier_person" name="fk_supplier_person" ng-model="contract.fk_supplier_person.id" ng-options="person.id as person.id for person in persons">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
