
<form name="editForm" role="form" novalidate ng-submit="uploadFile()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myContract_sampleLabel" translate="mycaseApp.contract_sample.home.createOrEditLabel">Create or edit a Contract_sample</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="contract_sample.id" readonly>
        </div>

        <div class="form-group">
            <label translate="mycaseApp.contract_sample.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="contract_sample.name">

            <div ng-show="editForm.name.$invalid">
            </div>
        </div>
        <div class="form-group">
            <label translate="mycaseApp.contract_sample.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="contract_sample.description">

        </div>

        <div class="form-group" ng-switch="isFileSelected()">
            <span class="btn btn-primary fileinput-button" ng-class="{disabled: disabled}">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Select file</span>
            <input type="file" name="file" onchange="angular.element(this).scope().selectFile(this.files)"/>
            </span>
            <span ng-switch-when="true" class="file-selected"> {{ uploadedFile.name }}</span>
        </div>
    </div>
    <div class="modal-footer">
        <!--
        <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input type="file" name="file" onchange="angular.element(this).scope().addFileToQueue(this.files)"/>
        </span>-->
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
