<li ui-sref-active="active" ><a ui-sref="testEntity"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.testEntity">testEntity</span></a></li>
<li ui-sref-active="active" ><a ui-sref="contract_history"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.contract_history">contract_history</span></a></li>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span translate="global.title">jhipster</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav nav-pills navbar-right">
                <li class="dropdown pointer" ng-switch-when="true">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span class="hidden-tablet" translate="global.menu.message">
                                        Message
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Authenticate</span></a></li>

                        <li ui-sref-active="active" ><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
                <li class="dropdown pointer" ng-switch-when="true">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-alert"></span>
                                    <!--<i class="fa fa-camera-retro fa-lg"></i>-->
                                    <span class="hidden-tablet" translate="global.menu.alert">
                                        Alert
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Authenticate</span></a></li>

                        <li ui-sref-active="active" ><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li><!--
                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet" translate="global.menu.entities.main">
                                        Entities
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>

                    <ul class="dropdown-menu">

                        <li ui-sref-active="active" ><a ui-sref="firstEntity"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.firstEntity">firstEntity</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="secondEntity"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.secondEntity">secondEntity</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="category"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.category">category</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="address"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.address">address</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="person"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.person">person</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="business_entity"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.business_entity">business_entity</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="process"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.process">process</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="route"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.route">route</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="route_condition"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.route_condition">route_condition</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="contract_sample"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.contract_sample">contract_sample</span></a></li>
                    </ul>
                </li>-->
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet" translate="global.menu.account.main">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Authenticate</span></a></li>

                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-role="ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="global.menu.admin.main">Administration</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="department"><span class="glyphicon glyphicon-asterisk"></span>
                            &#xA0;<span translate="global.menu.entities.department">department</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="role"><span class="glyphicon glyphicon-cog"></span>
                            &#xA0;<span translate="global.menu.admin.role">Role</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="user"><span class="glyphicon glyphicon-user"></span>
                            &#xA0;<span translate="global.menu.admin.user">User</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="authority"><span class="glyphicon glyphicon-certificate"></span>
                            &#xA0;<span translate="global.menu.admin.authority">Authority</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('system')}"  ng-switch-when="true" has-role="ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    <span class="hidden-tablet" translate="global.menu.system.main">System</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.system.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.system.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="global.menu.system.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.system.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.system.logs">Logs</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.system.apidocs">API</span></a></li>
                    </ul>
                </li>
                <!--
                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-flag"></span>
                                    <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
        </div>
</nav>
<div class="navbar-default sidebar" role="navigation" style="margin-top: 20px">
    <div class="sidebar-nav navbar-collapse" ng-switch="isAuthenticated()">
        <ul class="nav" id="side-menu" ng-switch-when="true">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    <span translate="global.menu.dashboard">Dashboard</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="project">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span translate="global.menu.project">Project</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="category">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span translate="global.menu.category">Category</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="contract">
                    <span class="glyphicon glyphicon-file"></span>
                    <span translate="global.menu.contract">Contract</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="home">
                    <span class="glyphicon glyphicon-tasks"></span>
                    <span translate="global.menu.task">Task</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="contract_party">
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <span translate="global.menu.contract_party">contract_party</span>
                </a>
            </li>

            <li ui-sref-active="active" class="dropdown pointer">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet" translate="global.menu.configurations.main">
                                        Configurations
                                    </span>
                                    <b class="caret"></b>
                                </span>
                </a>

                <ul class="dropdown-menu">
                    <li ui-sref-active="active" ><a ui-sref="address"><span class="glyphicon glyphicon-asterisk"></span>
                    &#xA0;<span translate="global.menu.configurations.address">address</span></a></li>
                    <li ui-sref-active="active" ><a ui-sref="process"><span class="glyphicon glyphicon-asterisk"></span>
                    &#xA0;<span translate="global.menu.configurations.process">process</span></a></li>
                    <li ui-sref-active="active" ><a ui-sref="workflow"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.configurations.workflow">workflow</span></a></li>
                    <li ui-sref-active="active" ><a ui-sref="route"><span class="glyphicon glyphicon-asterisk"></span>
                    &#xA0;<span translate="global.menu.configurations.route">route</span></a></li>
                    <li ui-sref-active="active" ><a ui-sref="route_condition"><span class="glyphicon glyphicon-asterisk"></span>
                    &#xA0;<span translate="global.menu.configurations.route_condition">route_condition</span></a></li>
                    <li ui-sref-active="active" ><a ui-sref="contract_sample"><span class="glyphicon glyphicon-asterisk"></span>
                    &#xA0;<span translate="global.menu.configurations.contract_sample">contract_sample</span></a></li>
                    <li ui-sref-active="active" ><a ui-sref="bank_account"><span class="glyphicon glyphicon-asterisk"></span>
                    &#xA0;<span translate="global.menu.configurations.bank_account">bank_account</span></a></li>
                    <li ui-sref-active="active" ><a ui-sref="fund_source"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.configurations.fund_source">fund_source</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
